###  <center>Python operators </center>

#### <center>Operator is a symbol that performs certain operations.</center>
#### Python provides the following set of operators
#### 1. Arithmetic Operators
#### 2. Relational Operators or Comparison Operators
#### 3. Logical operators
#### 4. Bitwise oeprators
#### 5. Assignment operators
#### 6. Special operators

#### <center>1. Arithmetic Operators</center>
#### + ==>Addition
#### - ==>Subtraction
#### * ==>Multiplication
#### / ==>Division operator
#### % ===>Modulo operator
#### // ==>Floor Division operator
#### ** ==>Exponent operator or power operator

In [54]:
a=10
b=2
print(a+b)
print(a*b)
print(a-b)
print(a/b) # note: if its a simple div it will give your floating point result
print(a%b) #node : % is the modulo operator and will give you a remainder
print(a**b) #note : its an exponentiation operator i.e a^b

12
20
8
5.0
0
100

#### <center>Note</center>
#### / operator always performs floating point arithmetic. Hence it will always returns float value.
#### But Floor division (//) can perform both floating point and integral arithmetic. 
#### If arguments are int type then result is int type. If atleast one argument is float type then result is float type.
#### <center>Note</center>
#### We can use +,* operators for str type also.
#### If we want to use + operator for str type then compulsory both arguments should be str type only otherwise we will get error.

#### If we use * operator for str type then compulsory one argument should be int and other argument should be str type. 2*"durga" , "durga"*2
#### 2.5*"durga" ==>TypeError: can't multiply sequence by non-int of type 'float' "durga"*"durga"==>TypeError: can't multiply sequence by non-int of type 'str'

#### +====>String concatenation operator
#### * ===>String multiplication operator
#### Note: For any number x, x/0 and x%0 always raises "ZeroDivisionError"

#### 10/0
#### 10.0/0

#### <center> Floor divi operator</center>
#### / simple divison operator will always perform floating point airthmetic and will always returns float value
#### but floor division operator (//) will perform both float as well as integral airthmetic 
#### if both arguments are of int type res=int . if atleast one arg is float type res=float value

In [15]:
a=10.2
b=2
print(a//b)

5.0

In [16]:
20/2

10.0

In [18]:
20.5/2

10.25

In [19]:
20//2  #note: since its a floor division and both the args are int so therefore res= int

10

In [20]:
20.5//2  # note : since its a floor division and both args are int and float so res= float

10.0

In [21]:
30//2

15

####  <center>+(operator) : 2 forms </center>

#### 1st form- for addition
#### 2nd for -for string concatenation operator

In [22]:
10+20

30

In [23]:
"ajay"+10

TypeError: can only concatenate str (not "int") to str

 #### Note: here it will throw an error because when using + op then compulsory both args must be string type

In [58]:
"ajay"+"10"

'ajay10'

In [25]:
'ajay'+'10'

'ajay10'

#### <center> * (operator)</center>
####  for string then it will act as string repetiton operator

#### if we use * operator for str then compulsory one arg should be int and other should be string

#### 1st form- multiplication
#### 2nd form- string multiplication operator

In [26]:
2*"ajay"

'ajayajay'

In [27]:
2*2

4

In [29]:
2.3*"ajay" # use only integer value

TypeError: can't multiply sequence by non-int of type 'float'

In [31]:
'ajay '*3  # order is not important you can take any order

'ajay ajay ajay '

In [32]:
print('ajay'*True) # ajay*1

ajay

In [33]:
print('ajay'*False) # ajay*0= empty string

In [34]:
"ajay"* "10"

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
"ajay " *int("10") # type casting

'ajay ajay ajay ajay ajay ajay ajay ajay ajay ajay '

In [38]:
10/0  # zero division error

ZeroDivisionError: division by zero

#### <center>2. Relational operator </center>

#### > , < , >= , <=

In [40]:
ord('a') # ord function is used to get ascii value

97

In [42]:
chr(97) # given as

'a'

In [43]:
a=10
b=20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
False
True
True

####  <center>1. Relational operators for string</center>

In [47]:
a="a" # unicode value= 97
b="b" # unicode value= 98
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [53]:
a="a" # unicode value= 97
b="A" # unicode value= 98
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

#### <center>2. Relational operators for boolean</center>

In [49]:
print(True>True)
print(True>=True)
print(False<False)
print(False<=False)

False
True
False
True

In [50]:
print(10>'ajay')  # note: it will give an error

TypeError: '>' not supported between instances of 'int' and 'str'

In [52]:
# small eg:
a=10
b=20
if(a<b):
    print("a is small:" ,a)
else:
    print("b is bigger:", b)

a is small: 10

#### Note: Chaining of relational operators is possible. In the chaining, if all comparisons returns True then only result is True.
#### If atleast one comparison returns False then the result is False

In [55]:
10<20

True

In [56]:
10<20<30

True

In [57]:
10<20>30

False

#### <center>3. Equality Operators</center>

#### == , !=
#### Equality operator is also applicable for incompatible types also we are never going to get an error if not equal the it returns False

In [59]:
10==20

False

In [60]:
10!=20

True

In [61]:
1==True

True

In [62]:
10==10.0

True

In [63]:
"ajay"=="ajay"

True

In [64]:
a=10
b=20
a==b

False

In [65]:
10=="ajay"

False

#### Chaining of equality operators 
#### Note: in chaining if all comparisions return true then only result is true. If atleast one comp is false then the result is false

In [66]:
10==20==30

False

In [68]:
10==10==10

True

#### Diff between (==) operator and (is) operator
#### == : is used for content comparision
#### is: operator is used for ref comparision

In [69]:
a=10
b=20
a==b

False

In [75]:
a=10
b=10
print(id(a))
print(id(b))
a is b

140726456872992
140726456872992

True

In [77]:
c=20
d=30
print(id(c))
print(id(d))
c is d

140726456873312
140726456873632

False

In [81]:
l1= [10,20,30]
l2=[10,20,30]
print(l1 is l2)  # note: false because address is different
print(l1==l2)  # note: True because content is the same

l3=l1  # l3 is pointing to same obj l1
print(l1 is l3) # note :True because both l1 and l3 are pointing to same object

False
True
True

#### <center>4. Logical Operators: and ,or,not</center>

#### <center>We can apply for all types</center>
#### <center>1. For boolean types behaviour</center>
#### 1. and ==>If both arguments are True then only result is True
#### 2. or ====>If atleast one arugemnt is True then result is True
#### 3. not ==>complement
#### 4. True and False ==>False
#### 5. True or False ===>True
#### 6. not False ==>True

In [82]:
True and True

True

In [83]:
False==False

True

In [84]:
False or True

True

In [85]:
# small Authentication eg:

user_name=input("Enter the name")
password= input("Enter the password")

if user_name=='ajay' and password =='1234':
    print("Valid User")
    
else:
    print("Not Valid User")

Enter the nameajay
Enter the password1234
Valid User

In [87]:
user_name=input("Enter the name: ")
password= input("Enter the password:")

if user_name=='ajay' and password =='1234':
    print("Valid User")
    
else:
    print("Not Valid User")

Enter the name: ajay
Enter the password:123
Not Valid User

#### <center>2. For non boolean types</center>
#### 0 means false
#### non zero means true
#### empty string is always treated as false

#### <center>5. Bitwise Operators</center>
#### We can apply these operators bitwise.
#### These operators are applicable only for int and boolean types.
#### By mistake if we are trying to apply for any other type then we will get Error. &,|,^,~,<<,>>
#### & ==> If both bits are 1 then only result is 1 otherwise result is 0
#### | ==> If atleast one bit is 1 then result is 1 otherwise result is 0
#### ^ ==>If bits are different then only result is 1 otherwise result is 0
#### ~ ==>bitwise complement operator
#### 1==>0 & 0==>1
#### << ==>Bitwise Left shift
#### >> ==>Bitwise Right Shift

In [1]:
print(4&5) #==>valid
print(10.5 & 5.6) #==>
print(True & True) #==>valid

4

TypeError: unsupported operand type(s) for &: 'float' and 'float'

####  and
#### Note:
####      1) if x evaluates to false then result is x
####      2)if x evaluates to true then  result is y

In [88]:
10 and 20 # x=10 ,y=20 so here x is true so y will be the answer

20

In [89]:
0 and 10  # here x=0 and y=10 here x itself is 0 so whole answer will be false

0

In [90]:
10 and 0 # here x=10 and y=0 so x is true then y is the result

0

In [91]:
'ajay' and 'niks'

'niks'

In [93]:
'' and 'ajay'

''

####  or

#### Note:
####        1) if x is true the whole res will be true and no need to check the y part ans answer=x
####        2) if x is false the answer is y

In [94]:
10 or 20

10

In [95]:
0 or 0

0

In [96]:
0 or 22

22

In [97]:
[] or "ajay"

'ajay'

In [99]:
'ajay' or 'nikumbh'

'ajay'

In [100]:
0 or 'ajay'

'ajay'

In [101]:
'' or 'ajay'

'ajay'

####  not
#### Note:
####   1) if x evaluates to false the res= true otherwise res= false

In [102]:
not 10

False

In [103]:
not 'ajay'

False

In [104]:
not ''

True

#### bitwise complement operator(~):
#### We have to apply complement for total bits.
#### Eg: print(~5) ==>-6
#### Note:
#### The most significant bit acts as sign bit. 0 value represents +ve number where as 1 represents -ve value.
#### positive numbers will be repesented directly in the memory where as -ve numbers will be represented indirectly in 2's complement form.

#### <center>6. Shift Operators</center>

#### <center>1. ( << )Left shift operator</center>
#### After shifting the empty cells we have to fill with zero

In [4]:
print(10<<2)   #==>40

40

#### <center>2. (>>) Right Shift operator</center>
#### After shifting the empty cells we have to fill with sign bit.( 0 for +ve and 1 for -ve)

In [5]:
print(10>>2) #==>2

2

In [7]:
#### We can apply bitwise operators for boolean types also
print(True & False) #==>False
print(True | False) #===>True
print(True ^ False) #==>True
print(~True) #==>-2
print(True<<2) #==>4
print(True>>2) #==>0

False
True
True
-2
4
0

#### <center>7. Assignment Operators</center>

##### We can use assignment operator to assign value to the variable.
#### Eg: x=10
#### We can combine asignment operator with some other operator to form compound assignment operator.
#### Eg: x+=10 ====> x = x+10
#### The following is the list of all possible compound assignment operators in Python
#### [+=, -=, *=, /=, %=, //=, **=, &=, |=, ^= ,>>= ,<<=]

In [9]:
x=10
x+=20
print(x) #==>30

30

In [10]:
x=10
x&=5
print(x) #==>0

0

#### <center>8. Ternary Operator</center>
#### Syntax: x = firstValue if condition else secondValue
#### If condition is True then firstValue will be considered else secondValue will be considered.

In [11]:
a,b=10,20
x=30 if a<b else 40
print(x) #30

30

#### Eg 2: Read two numbers from the keyboard and print minimum value

In [12]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
min=a if a<b else b
print("Minimum Value:",min)

Enter First Number:1
Enter Second Number:2
Minimum Value: 1

#### Note: Nesting of ternary operator is possible.

#### Q. Program for minimum of 3 numbers

In [13]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

Enter First Number:1
Enter Second Number:2
Enter Third Number:3
Minimum Value: 1

#### Q. Program for maximum of 3 numbers

In [14]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>c else c
print("Maximum Value:",max)

Enter First Number:2
Enter Second Number:3
Enter Third Number:4
Maximum Value: 4

In [15]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
print("Both numbers are equal" if a==b else "First Number is Less than Second Number" if
a<b else "First Number Greater than Second Number")

Enter First Number:5
Enter Second Number:5
Both numbers are equal

#### <center>9. Special operators</center>
#### <center>1. Identity Operators</center>
#### We can use identity operators for address comparison.
#### 2 identity operators are available
#### 1. is
#### 2. is not
#### r1 is r2 returns True if both r1 and r2 are pointing to the same object
#### r1 is not r2 returns True if both r1 and r2 are not pointing to the same object

In [18]:
a=10
b=10

print(a is b) #True

x=True
y=True

print( x is y)# True

True
True

In [19]:
a="durga"
b="durga"

print(id(a))
print(id(b))
print(a is b)

2857005086640
2857005086640
True

In [21]:
list1=["one","two","three"]
list2=["one","two","three"]

print(id(list1))
print(id(list2))
print(list1 is list2) #False
print(list1 is not list2)# True
print(list1 == list2) #True

2857005129536
2857005129344
False
True
True

#### Note: We can use is operator for address comparison where as == operator for content comparison.

#### <center>2. Membership operators</center>
#### We can use Membership operators to check whether the given object present in the given collection.(It may be String,List,Set,Tuple or Dict)
#### 1. in - Returns True if the given object present in the specified Collection
#### 2. not in - Retruns True if the given object not present in the specified Collection

In [23]:
x="hello learning Python is very easy!!!"

print('h' in x) #True
print('d' in x) #False
print('d' not in x) #True
print('Python' in x) #True

True
False
True
True

In [24]:
list1=["sunny","bunny","chinny","pinny"]

print("sunny" in list1) #True
print("tunny" in list1) #False
print("tunny" not in list1)# True

True
False
True

#### <center>10. Operator Precedence</center>
#### If multiple operators present then which operator will be evaluated first is decided by operator precedence.
#### Eg:print(3+10*2) , print((3+10)*2) 26
#### The following list describes operator precedence in Python
#### 1. () Parenthesis
#### 2. ** exponential operator
#### 3. ~,- Bitwise complement operator,unary minus operator
#### 4. *,/,%,// multiplication,division,modulo,floor division
#### 5. +,- addition,subtraction
#### 6. <<,>> Left and Right Shift & bitwise And
#### 7.  ^  Bitwise X-OR
#### 8.  | Bitwise OR
#### 9. >,>=,<,<=, ==, != ==>Relational or Comparison operators 
#### 10. =,+=,-=,*=... ==>Assignment operators
#### 11. is , is not  Identity Operators
#### 12. in , not in Membership operators
#### 13. not Logical not
#### 14. and Logical and
#### 15. or Logical or

In [26]:
a=30
b=20
c=10
d=5

print((a+b)*c/d)# 100.0
print((a+b)*(c/d)) #100.0
print(a+(b*c)/d) #70.0

100.0
100.0
70.0

#### <center>11. Mathematical Functions (math Module)</center>
#### A Module is collection of functions, variables and classes etc.
#### math is a module that contains several functions to perform mathematical operations
#### If we want to use any module in Python, first we have to import that module.
#### import math ,Once we import a module then we can call any function of that module.

In [27]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [28]:
import math as m
print(m.sqrt(16))
print(m.pi)

4.0
3.141592653589793

In [29]:
from math import sqrt,pi
print(sqrt(16))
print(pi)
print(math.pi)

4.0
3.141592653589793
3.141592653589793

#### <center>12. Important functions of math module</center>
#### ceil(x)
#### floor(x)
#### pow(x,y)
#### factorial(x)
#### trunc(x)
#### gcd(x,y)
#### sin(x)
#### cos(x)
#### tan(x)